<form [formgroup]="registrationForm">
<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 p-md-6">
    <label for="firstName">First Name</label>
    <input id="firstName" pInputText formControlName="firstName" placeholder="Enter First Name" />
    <small *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched" class="p-error">
      First Name is required (at least 2 characters)
    </small>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label for="lastName">Last Name</label>
    <input id="lastName" pInputText formControlName="lastName" placeholder="Enter Last Name" />
    <small *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched" class="p-error">
      Last Name is required (at least 2 characters)
    </small>
  </div>

  <div class="p-field p-col-12">
    <label for="username">Username</label>
    <input id="username" pInputText formControlName="username" placeholder="Enter Username" />
    <small *ngIf="registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched" class="p-error">
      Username is required (at least 5 characters)
    </small>
  </div>

  <div class="p-field p-col-12">
    <label for="password">Password</label>
    <p-password id="password" formControlName="password" [feedback]="false" placeholder="Enter Password"></p-password>
    <small *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="p-error">
      Password is required (at least 6 characters)
    </small>
  </div>

  <div class="p-field p-col-12">
    <button pButton type="button" label="Register" (click)="onSubmit()" class="p-mt-3"></button>
  </div>
</div>
  </form>
